<!-- Modal -->
<div class="bb-modal" hidden>
 <div class="bb-valign">
  <div class="bb-box" id="bb-message">
  </div>
 </div>
</div>

<!-- HUD -->
<div class="bb-hud">
 <div class="bb-bar-base bb-health">
  <div class="bb-health-current"></div>
 </div>
 <div class="bb-bar-base bb-stamina">
  <div class="bb-stamina-current"></div>
 </div>
</div>

<!-- Items -->
<div class="bb-items">
 <div class="bb-item-top"></div>
 <div class="bb-item-left"></div>
 <div class="bb-item-right"></div>
 <div class="bb-item-bottom"></div>
</div>
